header {
    background-color: #032541;
    img {
        width: 100px;
    }

    nav {
        ul {
            margin-bottom: 0;
            padding-left: 0;

            li {
                a {
                    padding: 0 20px;
                    text-decoration: none;
                    color: #f0f0f0;
                    font-weight: bolder;

                    &:hover {
                        color: #20b9d6;
                    }
                }
            }
        }
    }
}
